

body{
    background-color: rgb(47, 145, 140);
}
.container{
    width: 1200px;
    margin: 0 auto;
}

a{
    color:green;
}

.nav-link{
    color: burlywood;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    padding: 15px;
    background-color: rgb(161, 104, 189);
    border-radius: 10px;
    display: block;
    border: 1 px solid transparent;

}

.title, .description, .subtitle{
    text-align: center;
    margin-top: 50px;
}

.nav{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.nav-link:hover{
    border: 1 px solid darkmagenta;
    color: darkmagenta;
    background-color: white;
}

.item{
    width: 263px;
    border: 1px solid black;
    border-radius: 10px;

}

.item-pic{
    width: 100%;
    border-radius: 10px;
}

.content{
    margin-top: 100px;
}

.item-box{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
}

.subtitle{
    font-family: "Pacifico";
    font-size: 30px;
}
.item{
    margin-bottom: 50px;
}